@using template.business.Login

@model IEnumerable<template.application.Models.ServiceDetailresponseModel>;

@{
    ViewData["Title"] = "Service Detail";
}

<hr class="my-5">
<div class="card">
    <h5 class="card-header">Bordered Table</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Transactionn Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.product_type_id  </td>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.product_label</strong>
                            </td>
                            <td>@item.txn_type</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>